<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='../public/stylesheets/style.css' /> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <ul>
      
      <li></li>
    </ul>
    <!-- <form method="post" action="/file/uploading" enctype="multipart/form-data">
    	<input type="file" name="inputFile" multiple="multiple">
    	<input type="submit" name="btnUp" value="上传文件">
    </form> -->
  </body>
</html>
